* {
  margin : 0;
  padding : 0;
}

body {
  background:#dfe6ea;
  margin: auto;
  width: 980px;
  height: 100%;
}

a {
text-decoration:none;
color: #878787;
}

a:hover {
	color: #000000;
}

.right_col {
  float: right;
  margin-top: 5px;
  width: 33.15%;
}

.left_col {
  float: left;
  margin-top: 5px;
  width: 66.3%;
}

.all_col {
  margin-top: 5px;
}

#header {
  background-color: #729bff;
  height: 140px;
  border: 1px solid #888888;
  margin-top: 5px;
}

#content {
}

#socials {
  float:left;
  width:42px;
}

#socials p {
  margin:7px 0;
  width:30px;
}

#slide {
  height: 145px;
}

#slider {
  height: 145px;
  width: 588px;
}

#slider_nivo_parent {
  float: right;
  height: 145px;
  width: 588px;
  overflow: hidden;
}

#inscr_accueil {
  position:relative;
  height: 145px;
}

#lastnews a:hover {
  text-decoration: none;
}

#partenaires {
}

#partenaires .partenaire {
  width:80px;
  height:80px;
  float:left;
  background-color:#444;
  margin:4px;
}

.newsc {
  background-color: #ffffff;
  border: 1px solid #888888;
  margin-top: 5px;
  padding: 5px;
}

#footer {
  background-color: #aaaaaa;
  border: 1px solid #888888;
  margin: 5px 0;
}

#footer p {
  padding-bottom: 10px;
  text-align: center;
  color: #444444;
}

.clear {
  clear:both;
}

.p_center p {
  text-align: center;
}

p.big {
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}

.btn-larger {
  border-radius: 6px 6px 6px 6px;
  font-size: 20px;
  font-weight: normal;
  margin-right: 10px;
  padding: 14px 24px;
}

.boxed h2 {
  line-height: 20px;
  margin: 3px 0 15px 5px;
}

.titlenews {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
  line-height: 20px;
  margin: 3px 0 15px 5px;
  font-size: 24px;
  text-rendering: optimizelegibility;
}

.boxed {
  padding: 5px;
  border: 1px solid #888888;
  margin-top: 5px;
  background-color: white;
}

.navbar {
  margin-bottom: 0;
  border: 1px solid #888888;
  margin-top: 5px;
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

.stream_btns {
  margin-bottom: 10px;
}